{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Create Board
{% endblock %}
{% block header %}
	<div class="container">
		<ol class="breadcrumb my-sm-5" style="background-color: #cecbcb">
			<li class="breadcrumb-item p-2">
				<a class="text-decoration-none btn-link" href="{% url 'home' %}">Home</a>
			</li>
			<li class="breadcrumb-item p-2">
				<a class="text-decoration-none" href="{% url 'boards_list' board_id %}">
					{{ projects_list.project_name }}
				</a>
			</li>
			<li class="breadcrumb-item active p-2">New Board</li>
		</ol>
	</div>
{% endblock %}
{% block form %}
<div class="container">
	<form method="post">
		{% csrf_token %}
		<!-- {{ form.as_p }} -->
		{% for field in form %}
			<div class="form-control">
				{{ field.label_tag }}
				{% if form.is_bound %}
					{% if field.errors %}
						{% render_field field class="form-control is-invalid" %}
						{% for error in field.errors %}
							<div class="invalid-feedback">{{ error }}</div>
						{% endfor %}
					{% else %}
						{% render_field field class="form-control is-valid" %}
					{% endif %}
				{% else %}
					{% render_field field class="form-control" %}
				{% endif %}
			</div>
			{% if field.help_text %}
				<small class="form-text text-muted">
					{{ field.help_text }}
				</small>
			{% endif %}
		{% endfor %}
		<button type="submit" class="btn btn-primary">Create Board</button>
	</form>
	<div class="my-3" </div> {% endblock %}
